<style>
    .col-xs-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

body{
    font-size: 0.9rem;
font-weight: 400;
line-height: 1.5;
}

.terms {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
    box-sizing: border-box;
}

.invoice-info {
  width: 100%;
}

.page-header {
  width: 100%;
  text-align: center;
}

    </style>

<div class="container">
<div class="col-xs-12">
    
      <div id="invoice-wrap">
        
          <div class="col-xs-12">
            <h3 class="page-header p-2 m-2">New INVOICE</h3>
          </div><!-- /.col -->
    
        <div class="row invoice-info">
          <div class="col-xs-4 invoice-col">
            From
            <address>
                <input class="form-control" id= "1"/>
              <input class="form-control" id= "2"  placeholder="address line 1" />
              <input class="form-control" id= "3"  placeholder="address line 2" />
              <input class="form-control" id= "4"  placeholder="phone number" />
            </address>
          </div><!-- /.col -->
          <div class="col-xs-4 invoice-col">
            To
            <address>
                <input class="form-control" id= "5"/>
              <input class="form-control" id= "6"  placeholder="address line 1" />
              <input class="form-control" id= "7"  placeholder="address line 2" />
              <input class="form-control" id= "8"  placeholder="phone number" />
            </address>
          </div><!-- /.col -->
          <div class="col-xs-4 invoice-col ">
            <form class="form-horizontal">
    
              <div class="form-group">
                <div class="col-xs-4"><label>Invoice #</label></div>
                <div class="col-xs-8 invoice_num"><span id="invoice_number">//invoiceNo#</span></div>
              </div>
              <div class="col-xs-12"></div>
              <div class="form-group">
                <div class="col-xs-4"><label>date</label></div>
                <div class="col-xs-8"><input type="date" class="form-control" id="invoice-date"></div>
              </div>
    
              <div class="col-xs-12"></div>
              <div class="form-group">
                <div class="col-xs-4"></div>
                <div class="col-xs-8"></div>
              </div>
    
    
              <div class="col-xs-12"></div>
              <div class="form-group">
                <div class="col-xs-5 invoice_space"><label>Amount due</label></div>
                <div class="col-xs-7 invoice_space bold" style="text-align:center; padding-top:7px"><span class="due" id="invoice_total2">875.00</span><span class="subtotal_currency"></span></div>
              </div>
            </form>
          </div><!-- /.col -->
        </div><!-- /.row -->
    
        <div class="row">
          <div class="col-xs-12 table-responsive">
            <hr>
            <table class="table table-hover" id="items">
              
          
              <thead>
                  <th class="item-name">Item</th>
                  <th class="description">Serial Number</th>
                  <th class="unit">Unit Cost</th>
                  <th class="quantity">Quantity</th>
                  <th class="units">Price</th>
                  <th class="no_print">Actions</th>
              </thead>
          
              <tbody>
                <tr class="item-row" id="row">
                  <td>
                      <select name="pid[]" id="product" onchange="changeSerial(this)" class="form-control item_name form-control-lg" value="Item #1" required>
                          
                        <% for(product of products){%>
                          <option><%=product.name%></option>
                          <%}%>
                      </select>
                      
                      
                  </td>
    
                  <td>
                      <select name="pid[]" disabled id="serial" class="form-control item_desc form-control-lg" value="Description" required>
                        <% for(product of products){%>
                        <option><%= product.serialNumber %> </option>
                        <%}%>
                      </select>
                     
                  </td>
                  <td>
                    <select name="pid[]" disabled id="price" class="form-control item_desc form-control-lg" value="Description" required>
                      <% for(product of products){%>
                      <option><%= product.sellPrice %> </option>
                      <%}%>
                    </select>
                   
                </td>
    
                  
                  <td><input class="form-control qty" id="quantity" onchange="findtotal(this)" value="1" /></td>
                  <td class="price_td"><span class="price" id="totalRow">650.00</span><span class="subtotal_currency"></span></td>
                  <td class="delete_td"><a class="delete" onclick="deleteRow(this)" title="Remove row"><span class="fas fa-window-close"></span></a></td>
                </tr>
              
                
              </tbody>
            </table>
          </div>
        </div>

        <div id="hiderow">
          <a id="addrow" class="btn btn-success btn-sm py-2 my-4" onclick="addRow()" title="Add a row"><span class="ti-plus"></span>  Add a row</a>
        </div>
    
        <div class="row">
          <div class="col-xs-6 col-xs-offset-6">
            <div class="table-responsive">
              <table class="table table-hover" id="totals">
                <tr>
                  <th style="width:50%">Subtotal:</th>
                  <td><span id="subtotal" >875.00</span><span class="subtotal_currency"></span></td>
                </tr>
                <tr>
                  <th><input type="checkbox" id="taxcheck" class="inline m-2"/>Tax:</th>
                  <td><input id="tax" disabled onchange="totalInvoice()" class="form-control" value="0.00" /></td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td class="balance"><span class="due" id="invoice_total">875.00</span><span class="subtotal_currency"></span></td>
                  
                </tr>
              </table>
            </div>
          </div><!-- /.col -->    
        </div>
    
        <div class="row">
          <div class="col-xs-12 pull-left">
            <a class="btn btn-info btn-sm" id="invoice_button" onclick="showModel()" data-toggle="modal" data-target="#invoice_modal">Show Invoice</a>
            <a  type="submit" name="commit" value="Submit Payment" onclick="Add()" class="btn btn btn-warning btn-sm" id="submit_invoice" data-disable-with="Submit Payment">Add Invoice</a>
          </div>
        </div>
    <div class="terms">
          <h5>Terms</h5>
          <textarea id="terms">Payment terms: 100% Upon Delivery.</textarea>
        </div>
        
      </div>
      
    </div>
    
    <div class="modal" id="invoice_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container-fluid invoice_wrapper p-5" id="print-me">
            </div>
          <div class="modal-footer">
            <button id="Printing" type="button" class="btn btn-primary" onclick="Print('print-me')" >Print</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">


  const deleteRow= (btn)=>{
          if (confirm("are you sure to delete row")) {
            const tr = btn.parentNode.parentNode
            const tbody = tr.parentNode
            console.log(tbody);
            tr.style.display ='none'
            
            } 
        }
  
  const addRow= () => {
    const div = document.createElement('tr');

  div.className = 'item-row';
  div.id = 'row'
  div.innerHTML = `<tr class="item-row">
                  <td>
                      <select name="pid[]" onchange="changeSerial(this)" id="product" class="form-control item_name form-control-lg" value="Item #1" required>
                          
                        <% for(product of products){%>
                          <option><%=product.name%></option>
                          <%}%>
                          
                      </select>
                      
                      
                  </td>
    
                  <td>
                      <select name="pid[]" id="serial" disabled class="form-control item_desc form-control-lg" value="Description" required>
                        <% for(product of products){%>
                          <option><%=product.serialNumber%></option>
                          <%}%>
    
                      </select>
              
                  </td>
                  <td>
                    <select name="pid[]" disabled id="price" class="form-control item_desc form-control-lg" value="Description" required>
                      <% for(product of products){%>
                      <option><%= product.sellPrice %> </option>
                      <%}%>
                    </select>
                   
                 </td>
                  <td><input class="form-control qty" id="quantity" onchange="findtotal(this)" value="0" /></td>
                  <td class="price_td"><span class="price" id="totalRow">0</span><span class="subtotal_currency"></span></td>
                  <td class="delete_td"><a class="delete" onclick="deleteRow(this)" title="Remove row"><span class="fas fa-window-close"></span></a></td>
                </tr>`;

  document.getElementById('items').appendChild(div);
  }

  
  const findtotal = (input)=>{
    const td = input.parentNode.parentNode
    console.log(td.querySelector('#price'));
    const price = td.querySelector('#price')
    const quantity = td.querySelector('#quantity')
    const totalRow = td.querySelector('#totalRow')
    const clc =Number(price.selectedOptions[0].textContent)*Number(quantity.value)
    totalRow.textContent = clc
    console.log(clc);
    let sum = 0 
    allTotalRow =document.querySelectorAll('#totalRow')
    allTotalRow.forEach(element => {
      console.log(element.textContent);
      sum= sum + Number(element.textContent)
      console.log("sum"+sum);
    });
    const subTotal = document.getElementById('subtotal')  
    subTotal.textContent = sum
    const tax = document.getElementById('tax')
    if(document.getElementById('taxcheck').checked){
      tax.value = 0
    }else {
      tax.value = (Number(subTotal.textContent) * 0.14).toFixed(2)
    }
    const total_invoice = document.getElementById('invoice_total')
    total_invoice.textContent = sum + Number(tax.value)
    const total_invoice2 = document.getElementById('invoice_total2')
    total_invoice2.textContent = sum + Number(tax.value)
    
  }

 const totalInvoice=()=>{
    const subTotal = document.getElementById('subtotal')  
    const tax = document.getElementById('tax')
    const total_invoice = document.getElementById('invoice_total')
    total_invoice.textContent = Number(subTotal.textContent) + Number(tax.value)
 } 

 const showModel = ()=>{
   const model = document.getElementById('invoice_modal')
   const print = document.querySelector('#print-me')
   print.innerHTML = `
   <div id="invoice-wrap">
        
        <div class="row">
          <div class="col-xs-12">
            <h3 class="page-header">INVOICE</h3>
          </div>
        </div>
    
        <div class="row invoice-info">
          <div class="col-xs-4 invoice-col">
            <label>From</label>
            <address>
             <p> ${document.getElementById(1).value}</p>
             <p> ${document.getElementById(2).value}</p>
             <p> ${document.getElementById(3).value} </p>
             <p> ${document.getElementById(4).value}</p>
            </address>
          </div>
          <div class="col-xs-4 invoice-col">
            <label>To</label>
            <address>
              <p> ${document.getElementById(5).value}</p>
              <p> ${document.getElementById(6).value}</p>
              <p> ${document.getElementById(7).value}</p>
              <p> ${document.getElementById(8).value}</p>
            </address>
          </div>
          <div class="col-xs-4 invoice-col ">
            <form class="form-horizontal">
              <div class="form-group">
                <div ><label>Invoice:</label></div>
                <div invoice_num"><span id="invoice_number"> 44 </span></div>
              </div>
              <div class="form-group">
                <div ><label>date</label></div>
                <div >${document.getElementById('invoice-date').value}</div>
              </div>
              <div class="form-group">
                <div class="col-xs-5 invoice_space"><label>Amount due</label></div>
                <div class="col-xs-7 invoice_space bold">${document.getElementById('invoice_total').textContent}</span></div>
              </div>
            </form>
          </div>
        </div>
    
        <div class="row">
          <div class="col-xs-12 table-responsive">
            <hr>
            <table border="1" style="text-align: center; vertical-align:middle; width:100%;"  id="items">
              <thead>
                  <th class="item-name" style="padding:5px">Item</th>
                  <th class="description">Serial Number</th>
                  <th class="unit">Unit Cost</th>
                  <th class="quantity">Quantity</th>
                  <th class="units">Price</th>
              </thead>
              <tbody>${getTableInfo()}<tbody>
              </table>
              </div>

              <div class="row">
          <div class="col-xs-6 col-xs-offset-6">
            <div class="table-responsive">
              <table class="table table-hover" id="totals">
                <tr>
                  <th style="width:50%">Subtotal:</th>
                  <td><span>${document.getElementById('subtotal').innerText}</span><span class="subtotal_currency"></span></td>
                </tr>
                <tr>
                  <th>Tax:</th>
                  <td><span>${document.getElementById('tax').value}</span></td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td><span>${document.getElementById('invoice_total').innerText}</span><span class="subtotal_currency"></span></td>
                  
                </tr>
              </table>
            </div>
          </div><!-- /.col -->    
        </div>

              <div class="terms">
          <h5>Terms</h5>
          <h6>${document.getElementById('terms').value}</h6>
        </div>
        
      </div>
   
   `
 }

 const getTableInfo =()=>{
   const rows = document.querySelectorAll('#row')
   console.log(rows);
   
   let s = ''
    rows.forEach(row => {
    if(row.style.display !== 'none'){
    s = s + `<tr>
              <td>${row.querySelector('#product').selectedOptions[0].textContent}</td>
              <td>${row.querySelector('#serial').selectedOptions[0].textContent}</td>
              <td>${row.querySelector('#price').selectedOptions[0].textContent}</td>
              <td>${row.querySelector('#quantity').value}</td>
              <td>${row.querySelector('#totalRow').textContent}</td>
            </tr>`
          }
   });

   return s
   
 }

 const printDiv = ()=>{
   const print = document.getElementById('print-me')
   console.log('PDF printed');
   
//    const PDF = new jsPDF()
//    PDF.fromHTML(
//     print,
//     15,
//     15,{
//         'width':180,'elementHandlers':elementHandlers
//     }
// )
// window.open(PDF.output('datauristring'))
//    console.log(print);
 }

const addinvoice=async()=>{
  const rows = document.querySelectorAll('#row')
  const amount = document.getElementById('invoice_total').textContent
  const data = {
    cardItems:[],
    from:{
      company:document.getElementById(1).value,
      addressOne:document.getElementById(2).value,
      addressOne:document.getElementById(3).value,     
      mobile:document.getElementById(4).value,
    },
    to:{
      company:document.getElementById(5).value,
      addressOne:document.getElementById(6).value,
      addressOne:document.getElementById(7).value,     
      mobile:document.getElementById(8).value,
    },
    amount,
    date:document.getElementById('invoice-date').value
  }
  let error = false
  rows.forEach((row) => {
    if(Number(row.querySelector('#quantity').value) <=0)
        error = true
    data.cardItems.push(
        {serialNumber:row.querySelector('#serial').selectedOptions[0].textContent,
        quantity : Number(row.querySelector('#quantity').value)}
    )
  });

  if(error){
    alert('cant add 0 quantity or less')
  }
  else{
    const date = new Date()
    const today = String(date.getDate()).padStart(2,'0')
    const month = String(date.getMonth()+1).padStart(2,'0')
    const year = String(date.getFullYear())
    const d =year+'-'+month+'-'+today
    
    if(d === data.date){
      const options ={
        body:JSON.stringify(data),
        method:'POST',
        headers:{
                  'Content-Type': 'application/json'
                }
      }
      console.log(options.body);
      

      const x =await fetch('/invoiceee',options);
    console.log(x);

    return x;

      
}}}

 
 const changeSerial=(product)=>{
  const row = product.parentNode.parentNode
  const serial = row.querySelector('#serial')
  serial.selectedIndex = product.selectedIndex
  console.log( product.selectedIndex);
  const price = row.querySelector('#price')
  price.selectedIndex = product.selectedIndex
  console.log("price is"+price)
  findtotal(price)
 }
 const quantity = document.querySelectorAll('#quantity')
 findtotal(quantity[0])
 
</script>

<script>

HTMLElement.prototype.printMe = printMe;
function printMe(query){
  var myframe = document.createElement('IFRAME');
  myframe.domain = document.domain;
  myframe.style.position = "absolute";
  myframe.style.top = "-10000px";
  document.body.appendChild(myframe);
  myframe.contentDocument.write(this.innerHTML) ;
  setTimeout(function(){
  myframe.focus();
  myframe.contentWindow.print();
  myframe.parentNode.removeChild(myframe) ;// remove frame
  },0); // wait for images to load inside iframe
  window.focus();
  return true;
 }

const Add = async () =>{
  const x = await addinvoice();

  console.log(x);
    if(x.ok === true) {
      
      window.location.href = './';
    } else {
      alert('somthing went wrong');
    }

}

  const Print = (divName)=>{
    if(document.getElementById(divName).printMe()){
    Add();
    }

		}
</script>