  <div class="container p-3">

      <a href="/addinvoice" class="text-light text-decoration-none text-reset"> <button type="button" class="btn btn-success m-3 p-2">Add Invoice</button></a>

        <table class="table table-striped table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Company</th>
                <th scope="col">Contragent</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <%for(invoice of invoices){%>
              <tr id=<%=invoice._id%></tr>
                <td><%=invoice.from.company%></td>
                <td><%=invoice.to.company%></td>
                <td><%=invoice.amount%> E.G.P</td>
                <td><%=invoice.date%></td>
                <td>
                  <button type="button" onclick="show(this)" class="btn btn-secondary">Show</button></td>
                <td><a href="/editinvoice" class="btn btn-primary">Edit</a></td>
                <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)">Distroy</button></td>
              </tr>
              <%}%>
            </tbody>
          </table>
    </div>


    <script>
        const show = (btn)=>{
          const tr =btn.parentNode.parentNode
          const Company=tr.children[1].textContent
          const Contragent = tr.children[2].textContent
          const Amount = tr.children[3].textContent
          const d = tr.children[4].textContent
          console.log(Company);
          
          window.location.href = `/show?company=${Company}&contragent=${Contragent}&amount=${Amount}&data=${d}`
        }
        const deleteRow= (btn)=>{
          if (confirm("are you sure to delete invoice")) {
            const tr = btn.parentNode.parentNode
            const tbody = tr.parentNode
            console.log(tbody);
            tr.style.display ='none'
            
            } 
        }
    </script>