<div class="container p-3">

    <table class="table table-striped table-hover table-dark">
        <thead>
          <tr>
            
            <th scope="col">Item</th>
            <th scope="col">Serial</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Selling Price</th>
          </tr>
        </thead>
        <tbody>
          <% for(product of products){%>
          <tr>
            <td><%=product.name%></td>
            <td><%=product.serialNumber%></td>
            <td><%=product.quantity%></td>
            <td><%=product.price%> E.G.P</td>
            <td>150 E.G.P</td>
            <td><button id="delete" type="button" class="btn btn-danger" value='<%=product.name%>' onclick='deleteRow(this)'>Distroy</button></td>
            </tr>
            <%}%>
        </tbody>
      </table>
</div>